:root {
    --main-background-color: #ffffff;
    --second-background-color: #F6F6F6;

    --main-font-color: #070707;
    --second-font-color: #828282;
    --accent-color: #7d14d3;

    --main-font-family: 'Gilroy', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--main-font-family);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.36;

    color: var(--main-font-color);
    background-color: var(--main-background-color);
}


img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:focus,
.link:hover {
    color: var(--main-font-color);
}

.list {
    list-style: none;
}

.activ {
    color: var(--main-font-color);
    font-weight: 700;
}

/* header */

.main-header {
    padding: 25px 0;
}

.navigation {
    border-bottom: 1px solid var(--second-font-color);
}

.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 32px;
}

.nav-item {
    color: var(--second-font-color);
}

/*   promo   */

.hero {
    padding: 40px 0 100px 0;
}

.main-title {
    max-width: 150px;
    widows: 100%;
    font-size: 48px;
    margin-bottom: 35px;
    font-weight: 700;

    line-height: 59px;
}

/*   about-us   */

.about-me {
    background-color: var(--second-background-color);
    padding: 100px 0;
}

.about-me .container {
    text-align: center;
}

.about-me-title {
    display: inline-block;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 50px;
}

.about-me-text {
    display: inline-block;
    margin-right: 245px;
    margin-left: 245px;
}

.container .about-me-text:not(:last-child) {
    margin-bottom: 30px;
}

/*   skills   */


.skills {
    padding: 100px 0;
}

.second-title {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
}

.skills-text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.skills-list,
.icon-list {
    display: flex;
    justify-content: center;
}

.skills-list .skills-item:not(:last-child) {
    margin-right: 97px;
}

.icon-list .icon-item:not(:last-child) {
    margin-right: 10px;
}

.skills-item-icon {
    display: block;
    margin: auto;
}

.skills-list-text {
    margin-top: 25px;
    margin-bottom: 60px;

    text-align: center;
    font-size: 14px;
    color: var(--second-font-color);
}

/*   portfolio   */

.portfolio {
    background-color: var(--second-background-color);
    padding: 100px 0;
}

.portfolio-link {
    display: block;
    margin: auto;
}

.portfolio-link {
    text-align: center;
    margin: 40px 385px 0px 385px;
    text-decoration-line: underline;
}

.portfolio-img {
    margin-top: 70px;
}

/*   footer  */

.main-footer {
    padding: 100px 0;
}

.main-footer .second-title {
    margin-bottom: 20px;
}

.footer-text {
    text-align: center;
}

.button {
    display: block;
    align-items: center;
    border: none;
    background-color: var(--main-font-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    color: var(--main-background-color);
    border-radius: 22px;
    padding: 10px 16px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 86px;
}

.button:hover,
.button:focus {
    color: var(--accent-color);
}

.social-list {
    display: flex;
    justify-content: center;

    margin-top: 30px;
    margin-bottom: 60px;
}

.social-list .social-item:not(:last-child) {
    margin-right: 50px;
}

.footer-last-text {
    font-size: 14px;
    text-align: center;
    color: var(--second-font-color);
}